/* _sass/news.scss */

h2 {
    font-size: 1.5em; /* 调整标题字体大小 */
    margin-bottom: 10px; /* 增加标题和新闻列表的间距 */
}

.news-container {
    width: 100%;
    height: 150px; /* 设置容器的固定高度 */
    overflow-y: auto; /* 使其可以垂直滚动 */
    max-height: 250px; /* 可调整容器的最大高度 */
    padding-right: 10px; /* 防止右侧出现滚动条 */
    border: 1px solid #ffffff; /* 可选：为容器添加边框 */
    border-radius: 5px; /* 可选：为容器添加圆角 */
    background-color: #ffffff; /* 可选：为容器添加背景色 */
    scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* IE */
}

/* 隐藏滚动条，在不需要时 */
.news-container::-webkit-scrollbar {
    width: 8px;
}

.news-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding: 8px 0;
}

li a {
    color: #007bff; /* 设置链接颜色 */
    text-decoration: none; /* 去除链接下划线 */
}

li a:hover {
    text-decoration: underline; /* 当鼠标悬停时显示下划线 */
}
