---
layout: default
---

<!-- <div>
    <p align="left" ><img src="../assets/me.jpg" height=317.8 width=232> </p>
    {{ content }}
</div> -->

<!-- <div> -->
<table cellspacing="0">
  <tbody>
      <tr>      
          <td width="550">
              <div id="toptitle">
                  <h1>Wen Cheng &nbsp;</h1>
              </div>
              <p> 
                Bonjour! I am an incoming Ph.D. student at the University of Washington, working with Prof. <a href="https://homes.cs.washington.edu/~gshyam/">Shyam Gollakota</a>. 
                Previously, I earned Master's degree with honors from Nanjing University, where I was advised by Prof. <a href="https://cs.nju.edu.cn/ww/index.htm">Wei Wang</a>.
              </p>
              <p> 
                My research interests including wireless sensing and mobile computing. I also do some fun things about LLM.                
              </p>

              <!-- <p> Before admitted to Nanjing University without examination, I was graduated with honors from Hefei University of Technology, where I was awarded twice the Undergraduate China National Scholarship.
              </p> -->

              <p>
                I had an exciting research intern journey at Microsoft Research Asia (MSRA) and be honored to work with Prof. <a href="https://people.cs.umass.edu/~jxiong/">Jie Xiong</a>. I also had a wonderful intern experience in ByteDance during my undergrad years.
              </p>

              <!-- <div>
                <h2>Contact &nbsp;</h2>
              </div>
              <p>Email: hw8161 at princeton.edu</a>
              </p>
              
              <div>
                <h2>CV & Links &nbsp;</h2>
              </div>
              <span><a href="../assets/cv/cv_haoran_wan.pdf">CV</a>,  
                <a href="https://scholar.google.com/citations?user=avmkYmwAAAAJ&hl=en">Google Scholar</a>,
                <a href="https://orcid.org/my-orcid?orcid=0000-0001-9726-195X">ORCID</a>,
                <a href="https://dblp.org/pid/298/3763.html">DBLP</a>.
              </span>

              <div>
                <h2>Selected Publication (<a href="https://wanhaoran.github.io/publication/">Full List</a>) &nbsp;</h2>
              </div>
              <p align="left"><a href="https://arxiv.org/abs/2402.04454"> Evolving Mobile Cloud Gaming with 5G Standalone Network Telemetry</a><br/>
                <u>Haoran Wan</u>, Kyle Jamieson<br/>
                <b><font color="black">Arxiv Preprint</font></b>, Feb 2024.
              </p>

              <p align="left"><a href="../assets/papers/mSilent_final.pdf"> mSilent: Towards General Corpus Silent Speech Recognition using COTS mmWave Radar</a><br/>
                Shang Zeng, <u>Haoran Wan</u>, Shuyu Shi, and Wei Wang<br/>
                <b><font color="red">ACM UbiComp/IMUWT 2023</font></b>, Oct. 2023.
              </p>
              
              <p align="left"><a href="../assets/papers/alt_eurosys.pdf"> ALT: Boosting Deep Learning Performance by Breaking the Wall between Graph and Operator Level Optimizations</a><br/>
                Zhiying Xu, Jiafan Xu, Hongding Peng, Wei Wang, Xiaoliang Wang, <u>Haoran Wan</u>, Haipeng Dai, Yixu Xu, Hao Cheng, Kun Wang, and Guihai Chen<br/>
                <b><font color="red">ACM EuroSys 2023</font></b>, May 2023.
              </p>

              <p align="left"><a href="../assets/papers/resptracker_journal.pdf"> Multi-user Room-scale Respiration Tracking using COTS Acoustic Devices</a><br/>
                <u>Haoran Wan</u>, Shuyu Shi, Wenyu Cao, Wei Wang, and Guihai Chen<br/>
                <b><font color="red">ACM TOSN</font></b>, May 2023.
              </p>

              <p align="left"><a href="https://ieeexplore.ieee.org/document/10034952"> SCALAR: Self-Calibrated Acoustic Ranging for Distributed Mobile Devices</a><br/>
                Lei Wang, <u>Haoran Wan</u>, Ting Zhao, Ke Sun, Shuyu Shi, Haipeng Dai, Guihai Chen, Haodong Liu, and Wei Wang<br/>
                <b><font color="red">IEEE TMC</font></b>, Feb. 2023.
              </p>
              
              <p align="left"><a href="../assets/papers/vector_author_version.pdf"> VECTOR: Velocity Based Temperature-field Monitoring with Distributed Acoustic Devices</a><br/>
                  <u>Haoran Wan</u>, Lei Wang, Ting Zhao, Ke Sun, Shuyu Shi, Haipeng Dai, Guihai Chen, Haodong Liu, and Wei Wang<br/>
                  <b><font color="red">ACM UbiComp/IMUWT 2022 (Distinguished Paper Award!)</font></b>, Sep. 2022.
              </p>
              
              <p align="left"><a href="../assets/papers/infocom21_resptracker.pdf"> RespTracker: Multi-user Room-scale Respiration Tracking with Commercial Acoustic Devices</a><br/>
                <u>Haoran Wan</u>, Shuyu Shi, Wenyu Cao, Wei Wang, and Guihai Chen<br/>
                <b><font color="red">IEEE INFOCOM 2021</font></b>, Apr. 2021.
              </p> -->

          </td>
          
          <td width="60">
          </td>
  
          <!-- <td>
              <center>
                <div style="margin-top: 20px;">
                  <img src="../assets/cw_profile.jpg" border="0" style="margin-top:60px" width="180"><br>
                  <br>
                </div>
              </center>
          </td> -->
          
          <td width="250">
            <center>
              <div style="margin-top: 20px;">
                <img src="../assets/cw_profile.jpg" border="0" style="margin-top:60px" width="180"><br>
                <br>
              </div>
            </center>
        </td>

      </tr>
  </tbody>
</table>

<table cellspacing="0">
  <tbody>
      <tr>      
          <td>
              <!-- NEWS Column -->
              <!-- <div>
                <h2 style="display: flex;">
                  <img src="../assets/icons/first_news_icon.svg" width="24" height="24" style="vertical-align: middle; margin-right: 8px;">
                  News &nbsp;</h2>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li><b>December 2024</b>: Security Attacks on LLM-based Tools has been accepted in AAAI 2025!</li>
                    <li><b>December 2024</b>: USee won the Best Paper Award from SECON!</li>
                    <li><b>October 2024</b>: USee has been accepted to IEEE SECON, many thanks to all my partners and friends!</li>
                    <li><b>August 2024</b>: Start a research internship at Microsoft Research Asia (MSRA).</li>
                    <li><b>August 2024</b>: Our project <a href="https://arxiv.org/abs/2408.11006">Security Attacks on LLM-based Tools</a> has released <a href="https://github.com/Sensente/Security-Attacks-on-LCCTs">code</a>!</li>
                    <li><b>March 2024</b>: Our project <a href="https://arxiv.org/abs/2403.04643">QAQ</a> has released <a href="https://github.com/ClubieDong/QAQ-KVCacheQuantization">code</a>!</li>
                    <li><b>June 2023</b>: Attend the ICASSP2023 conference and present our work <a href="https://ieeexplore.ieee.org/document/10096850">W2KPE</a> in person!</li>
                </ul>
                
              </div> -->
              <h2 style="display: flex; align-items: center;">
                <img src="../assets/icons/first_news_icon.svg" width="24" height="24" style="vertical-align: middle; margin-right: 8px;">
                News
            </h2>
            <div class="news-container">
              <ul style="list-style-type: none; padding-left: 0;">
                  <!-- <li><b>June 2025</b>: My Master's Degree Dissertation win the Outstanding Paper from Department of CS of NJU!</li> -->
                  <li><b>July 2025</b>: Our LLM KV Cache Quantization Paper (QAQ) has been accepted in ICCV 2025 Workshop!</li>
                  <li><b>December 2024</b>: Security Attacks on LLM-based Code Completion Tools has been accepted in AAAI 2025!</li>
                  <li><b>December 2024</b>: USee wins the Best Paper Award from SECON!</li>
                  <li><b>October 2024</b>: USee has been accepted to IEEE SECON, many thanks to all my partners and friends!</li>
                  <li><b>August 2024</b>: Start a research internship at Microsoft Research Asia (MSRA).</li>
                  <li><b>August 2024</b>: Our project <a href="https://arxiv.org/abs/2408.11006">Security Attacks on LLM-based Tools</a> has released <a href="https://github.com/Sensente/Security-Attacks-on-LCCTs">code</a>!</li>
                  <li><b>March 2024</b>: Our project <a href="https://arxiv.org/abs/2403.04643">QAQ</a> has released <a href="https://github.com/ClubieDong/QAQ-KVCacheQuantization">code</a>!</li>
                  <li><b>June 2023</b>: Attend the ICASSP2023 conference and present our work <a href="https://ieeexplore.ieee.org/document/10096850">W2KPE</a> in person!</li>
              </ul>
          </div>          
              <div>
                <h2 style="display: flex;">
                  <img src="../assets/icons/contact_icon.svg" width="24" height="24" style="vertical-align: middle; margin-right: 8px; transform: translateY(2px);">
                  Contact &nbsp;</h2>
              </div>
              <p>Email: wcheng[at]nju[dot]edu[dot]cn</a>
              </p>
              
              <div>
                <h2 style="display: flex;">
                  <img src="../assets/icons/links_icon.svg" width="24" height="24" style="vertical-align: middle; margin-right: 8px; transform: translateY(2px);">
                  CV & Links &nbsp;</h2>
              </div>
              <span><a href="../assets/Wen_Cheng_CV.pdf">CV</a>,  
                <a href="https://scholar.google.com/citations?hl=en-AU&user=vrbfi8oAAAAJ">Google Scholar</a>,
                <a href="https://github.com/Sensente">GitHub</a>,
                <a href="https://orcid.org/0000-0002-5585-4957">ORCID</a>.
                <!-- <a href="https://dblp.org/pid/298/3763.html">DBLP</a>. -->
              </span>

              <div>
                <h2 style="display: flex;">
                  <img src="../assets/icons/service-icon.svg" width="24" height="24" style="vertical-align: middle; margin-right: 8px">
                  Selected Publication (<a href="https://sensente.github.io/publication/" style="display: inline-block; vertical-align: middle;">Full List</a>) &nbsp;</h2>
              </div>
            <!-- </p> -->
            <p align="left">
              <!-- <a href="../assets/papers/usee_imwut24a.pdf">USee: Ultrasound-based Device-free Eye Movement Sensing</a> -->
              <a>USee: Ultrasound-based Device-free Eye Movement Sensing</a>
              <br/> <u>Wen Cheng</u>, Mingzhi Pang, Haoran Wan, Shichen Dong, Dongxu Liu, Wei Wang<br/>
              <b><font color="red"> IEEE SECON 2024 (Best Paper Award)</font> </b>
              <div style="display: flex;">
                <a href="../assets/papers/usee_secon.pdf"><img src="../assets/icons/paper-icon.jpg" width="30" height="30"></a>
              </div>
            </p>
            <p align="left">
              <a href="https://arxiv.org/abs/2408.11006">Security Attacks on LLM-based Code Completion Tools</a>
              <br/> <u>Wen Cheng</u>, Ke Sun, Xinyu Zhang, Wei Wang<br/>
              <b><font color="red"> AAAI 2025 (Oral)</font> </b>
              <div style="display: flex;">
                <a href="https://arxiv.org/abs/2408.11006"><img src="../assets/icons/arxiv-logo.png" width="40" height="30"></a>
                <a href="../assets/papers/attack_on_lcct.pdf"><img src="../assets/icons/paper-icon.jpg" width="30" height="30"></a>
                <a href="https://github.com/Sensente/Security-Attacks-on-LCCTs"><img src="../assets/icons/github-mark.png" width="30" height="30"></a>
              </div>
            </p>

            <p align="left">
              <a href="https://dl.acm.org/doi/10.1145/3699728">DEWS: A Distributed Measurement Scheme for Efficient Wireless Sensing</a>
              <br/> Mingzhi Pang, Kaiying Li, Xun Wang, Wei Wang, <u>Wen Cheng</u>, Dongxu Liu, Yuqing Yin, Pengpeng Chen<br/>
              <b><font color="red"> ACM IMWUT (UbiComp)</font> </b>
            </p>

            <p align="left">
              <a href="https://arxiv.org/abs/2403.04643">QAQ: Quality Adaptive Quantization for LLM KV Cache</a>
              <br/> Shichen Dong, <u>Wen Cheng (co-first)</u>, Jiayu Qin, Wei Wang<br/>
              <b><font color="red"> ICCV 2025 (Workshop)</font> </b>
              <div style="display: flex;">
                <a href="https://arxiv.org/abs/2403.04643"><img src="../assets/icons/arxiv-logo.png" width="40" height="30"></a>
                <a href="../assets/papers/qaq_ijcai24.pdf"><img src="../assets/icons/paper-icon.jpg" width="30" height="30"></a>
                <a href="https://github.com/ClubieDong/QAQ-KVCacheQuantization"><img src="../assets/icons/github-mark.png" width="30" height="30"></a>
              </div>
            </p>

            <!-- <h2>Conference Papers</h2> -->
            <p align="left">
                <a href="https://ieeexplore.ieee.org/document/10096850">W2KPE: KEYPHRASE EXTRACTION WITH WORD-WORD RELATION</a>
                <br/> <u>Wen Cheng</u>, Shichen Dong, Wei Wang<br/>
                <b><font color="red"> IEEE ICASSP 2023</font></b>
                <div style="display: flex;">
                  <a href="https://arxiv.org/abs/2303.13463"><img src="../assets/icons/arxiv-logo.png" width="40" height="30"></a>
                  <a href="../assets/papers/w2kpe_icassp23.pdf"><img src="../assets/icons/paper-icon.jpg" width="30" height="30"></a>
              </div>
            </p>


            <div>
              <h2 style="display: flex;">
                <img src="../assets/icons/award-icon.svg" width="24" height="24" style="vertical-align: middle; margin-right: 8px; transform: translateY(2px);">      
                Selected Awards</h2>
              <p>2025 Outstanding Master's Dissertation Award from Department of CS, NJU <b>(Top 5)</b></p>
              <p>2024 IEEE SECON Best Paper Award <b>(1 out of 38 accepted papers)</b></p>
              <p>2024 Graduate China National Scholarship <b>(Top 1%)</b></p>
              <p>2022 Undergraduate President Award <b>(30 of 8000)</b></p>
              <p>2021, 2020 Undergraduate China National Scholarship <b>(Top 1%)</b></p>
              <p>2021, 2020 Provincial Second Prize, China Collegiate Programming Contest (CCPC)</p>
            </div>

            <div>
              <h2 style="display: flex;">
                <img src="../assets/icons/pubs-icon.svg" width="24" height="24" style="vertical-align: middle; margin-right: 8px; transform: translateY(2px);">      
                Service</h2>
              <p>Reviewer for ICASSP 2024, IJCNN 2025</p>
            </div>


            <div>
              <h2 style="display: flex;">
                <img src="../assets/icons/miscellaneous_icon.svg" width="24" height="24" style="vertical-align: middle; margin-right: 8px;">
                Miscellaneous</h2>
              <p>I am interested in the audio mixing, here is a simple beat created by myself, hope you enjoy it.</p>
              <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="330" height="80" src="//music.163.com/outchain/player?type=2&id=1961334119&auto=0&height=66"></iframe>
            </div>
            
          </td>
      </tr>
  </tbody>
</table>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
  <a href="https://clustrmaps.com/site/1byle"  title="Visit tracker" style="display:none;"><img src="//www.clustrmaps.com/map_v2.png?d=TAjLkGNfRpU04viAmuAQ8Qr3d2ZpafMx5r6kopFwAkw&cl=ffffff" /></a>
</div>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4DNT16DCM5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4DNT16DCM5');
</script>